[Desktop Entry]
Type=Application
Name=htmldoc
Comment=HTML and Markdown Conversion Software to output PostScript and PDF
TryExec=htmldoc
Exec=htmldoc %F
Icon=htmldoc
Terminal=false
Categories=Office;X-Red-Hat-Base;
